@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("./Akrobat-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("./Akrobat-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("./Akrobat-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("./Akrobat-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("./Akrobat-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("./Akrobat-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("./Akrobat-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: Akrobat;
  font-display: swap;
  src: url("./Akrobat-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}


